body {
  background-color:rgb(118, 185, 202);
  font-family: Verdana;
  text-align: center;
  
}

#container {
  display: flex;
  justify-content: center;
}

#form {
  text-align: left;
}

#submit-btn {
  text-align: center;
}

#win {
  color: green;
}

#draw {
  color: rgb(255, 194, 64);
}

#lose {
  color: rgba(219, 32, 32, 0.952);
}