<!DOCTYPE html>
<html>
  <head>
    <title>Rock Paper Scissors</title>
  </head>
  <body>
    <h3>You selected '<%= @player_one.choice %>'!</h3>
    <div id="computer_choice">
      <h3>The Computer picked <%= @computer.move %></h3>
    </div>
  </body>
</html>