<!DOCTYPE html>
<html>
  <head>
    <title>Rock Paper Scissors</title>
    <link rel="stylesheet" href="./stylesheet/styles.css">
  </head>
  <body>
    <h3>You selected '<%= @game.player1.choice %>'!</h3>
    <div id="computer_choice">
      <h3>The Computer picked <%= @game.computer.choice %></h3>
    </div>
    <br>
    <br>
    <div id="game-result">
      <% if @game.result == "win" %>
        <h2>Congratulations, you win!!</h2>
      <% elsif @game.result == "draw" %>
        <h2>It's a draw! Maybe next time...</h2>
      <% else %>
        <h2>You lose</h2>
      <% end %>
    </div>
    <br>
    <form action="/rock-paper-scissors">
      <button type="submit">New Game</button>
    </form>
  </body>
</html>