<!DOCTYPE html>
<html>
  <head>
    <title>Rock Paper Scissors</title>
    <link rel="stylesheet" href="./stylesheet/styles.css">
  </head>
  <body>
    <h1>Welcome to Rock Paper Scissors</h1>
    <br>
    <br>
    <h3>Please enter your name to begin</h3>
    <br>
    <form action="/player_name" method="post">
      <label for="player_name">Name:</label><br>
      <input id="player_name" type="textbox" name="player_name"><br>
      <button type="submit">Submit</button
    </form>
  </body>
</html>